 li a{
    background:linear-gradient(to right,rgb(183, 183, 196),rgb(178, 188, 201));
    margin-left: 2.5rem;
    word-spacing: .1rem;
    font-size: larger;
}
li a:hover{
    background: linear-gradient(to right,rgb(78, 76, 76),rgb(87, 82, 82),rgb(97, 91, 91),rgb(204, 190, 190));
    }