body {
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    background-color: #b3b3b3;
}

.hightlights {
    display: block;
    font-size: 16px;
}

.hightlights p:hover {
    background: linear-gradient(to right, #4d4848, #887f7f, rgb(184, 171, 171));
}

.at-main-login-container {
    background-color: #434343;
    border-radius: 10PX;
    padding-top: 30px;
}

.at-main-login-container h2 {
    font-size: 16px;
}

.at-login-button {
    font-size: 16px;
    background-color: #434343;
}

.at-save-button {
    font-size: 20px;
}

.at-login-container {
    background-color: #212121;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    padding: 5px 15px 5px 15px;
    margin-top: 30px;
}

.at-main-login-container {
    margin-left: 40px;
}

.at-radio-input {
    font-size: 14px;
}

.at-optional-btn {
    font-size: 16px;
    background-color: #434343;
    border-radius: 60px;
    padding: 0px 8px 0px 8px;
    border: 1px solid white;
}

.at-add-more-field-btn {
    font-size: 16px;
    background-color: #b3b3b3;
}

.at-feature-text {
    font-size: 34px;
}

.at-login-instruction p {
    font-size: 20px;
    font-weight: 100;
    color: red;
    word-spacing: 8px;
}

.at-login-instruction-2 p {
    font-size: 20px;
    font-weight: 200;
    word-spacing: 8px;
}

.at-login-instruction-2 a {
    font-size: 20px;
    font-weight: 200;
    color: blue;
}

.at-welcome-heading h3 {
    font-size: 24px;
    display: block;
}

.at-hr-line {
    border-bottom: 5px solid #212121;
}

.at-footer-hr-line {
    border-bottom: 5px solid #212121;
}

.at-footer-p {
    font-size: 16px;
}

/* preview 1 */
.at-back-btn {
    font-size: 16px;
    color:white;
}

/* saved form */

.at-saved-form-btn {
    font-size: 13px;
    padding-top: 10px;
    margin-left: 5px;
    text-decoration: none;
    color: white;
    padding-bottom: 4px;
}

.at-saved-form-p {
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 4px;
    margin-left: 30px;
}

.at-last-saved-form-element {
    padding-bottom: 70px;
}

.at-saved-hr-line {
    border-bottom:3px solid #b3b3b3;
 width: 95%;
 margin-left: 20px;
}

/* Navbar */

.nav, .nav-item, .nav-link {
    font-size: 16px;
    display: block;
    color: black;
}

.nav-link {
    background: linear-gradient(180deg, #c1c1c7, #b0abb8)
}

.nav-link:hover {
    color: black;
    background: linear-gradient(to right, rgb(71, 70, 70), #746d6d, rgb(189, 183, 183));
}
/* 
.at-sidebar-2 {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    background-color: #b0abb8;
    color: black;
} */
/* Header html */
.at-welcome {
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.at-logout-btn {
    display: block;
    font-size: 16px;
    text-decoration: none;
    color: red;
}
.at-logo{
    width: 160px;
 }
 /* Dashborad */
.at-links{
     text-decoration: none;
 }
 .at-links:hover{
    text-decoration: none;
    color: white;
}
 /* footer */
 /* .at-content{
   height: 100vh;

 } */