.logoimg {
    width: 200px;
    height: 50px;
}
.container{
    background-color: #B3BAB1;
    height:100%;
}
.container-fluid{
    background-color: #B3BAB1;
    height:100%;
}

/* Homepage CSS */
.at-form-p-elements p{
    background-color: rgb(190, 189, 189);
    padding: 5px;
    font-size:1.5rem;
    height: 75px;
}
.at-form-p-elements p:hover{
background: linear-gradient(to right,rgb(78, 76, 76),rgb(87, 82, 82),rgb(97, 91, 91),rgb(204, 190, 190));
}
.at-collect-Information{
background-color: #232523 ;
height: 95%;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}
.at-form-info-Container{
    background-color: #414641;
    border-radius: 10px;
    padding:35px 0px 35px 0px;
    height: 95%;
}
.formInput{
    width: 80%;
}

/* FirstLoginFormScreen CSS */

.at-welcome{
    font-size: 2rem;
    font-weight: normal;
    word-spacing: 3px;
    letter-spacing: 1px;
}
.at-login-warning p{
font-size: 1.5rem;
color: red;
text-align: justify;
text-justify: inter-word;
}

/* UserDashboardFirstTime CSS */
.at-login p{
    font-size: 1.5rem;
}
.at-login a{
    font-size: 1.5rem;
    color: blue;
}

/* UserDashboardSavedForms.js css */
.at-saved-paragraphs{
    color: white;
    border-bottom: 4px solid white;
}

/* UserDashboardFormPreview.js */
hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 4px solid white;
  }
  /* Footer CSS */
  .page-footer h4{
      font-size: 1rem;
  }